<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roside.mybatis.mapper.UserMapper">

    <resultMap id="userMap" type="com.roside.mybatis.domain.User">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="regist_time" column="regist_time" />
        <result property="last_act_ip" column="last_act_ip" />
        <result property="last_act_time" column="last_act_time" />
        <result property="status" column="status" />
    </resultMap>
    
    <select id="getUserById" parameterType="int" resultMap="userMap">
        select * from user where id = #{id}
    </select>

    <select id="getUserByMail" parameterType="String" resultType="User">
        select * from user where username = #{username}
    </select>

    <select id="getUserByNameAndPassword" parameterType="User" resultType="User">
        select * from user where username = #{username} and password = #{password}
    </select>

    <insert id="registerUser" parameterType="User" keyProperty="id">
        insert into user (username, password, regist_time, last_act_ip, last_act_time, status) VALUES (#{username}, #{password}, #{regist_time}, #{last_act_ip}, #{last_act_time}, #{status})
    </insert>

</mapper>



